html {
  height: 100vh;
  width: 100vw;
}
body {
  color: blue;
  font-size: 2rem;
  text-shadow: 1px 1px cyan;
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(255, 174, 0),
    rgb(255, 0, 136),
    rgb(255, 0, 0)
  );
}
.jumbotron {
  font-size: 4rem;
  color: blue;
  text-shadow: 1px 1px cyan;
  opacity: 0.5;
}
.inputDiv {
  padding-top: 45px;
}
.forexDiv {
  padding-top: 55px;
}
.choices {
  font-size: 1rem;
}
.btnDiv {
  padding-top: 75px;
}
.results {
  padding-top: 75px;
}
#sub {
  border: none;
  padding: 30px 30px;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    rgb(85, 188, 248),
    rgb(0, 132, 255),
    rgb(132, 0, 255)
  );
  color: rgb(255, 0, 98);
  font-weight: bolder;
  text-shadow: 1px 1px rgb(251, 255, 0);
}

#sub:hover {
  filter: invert(1);
}

#sub:active {
  background: rgb(0, 0, 0);
  color: yellowgreen;
}
